/* navbar css */
#navbar{
    display: flex;
    background: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    height: 60px;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#sec{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.sec{
    flex-grow: 1;
}
#logo{
    font-size: 1.5em;
    color: red;
}
#home{
    color: red;
}
#sp{
    color: blue;
}

#btn{
    padding: 9px;
    border: red solid 0.5px;
    border-radius: 20px;
    color: white;
    background: rgb(241, 11, 11);
    
}
#buttonss{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0.3;
}




/* query css */
.grandparents{
    background-image: url(./contact-bg.png);
}
#callbtn{
    height: 20px;
    border: red solid 0.5px;
    border-radius: 100px;
}
.parents{
   padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#texts{
    justify-content: center;
    align-items: center;
    width: 37vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px; 
}
#forms{

    justify-content: center;
    align-items: center;
    padding: 50px;
    background: white; 
    border-radius: 10px;
    
}
#name{
    padding: 10px;
    border: white solid 1px;
    background: rgb(166, 233, 233);
    border-radius: 10px;
    margin: 5px;
    float: left;
}
#surnames{
    padding: 10px;
    border: white solid 1px;
    background: rgb(166, 233, 233);
    border-radius: 10px;
    margin: 5px;
    float: right;
}
#emails{
    width: 400px;
    padding: 10px;
    border: white solid 1px;
    background: rgb(166, 233, 233);
    border-radius: 10px;
    margin: 5px;
}
#tarea{
    width: 400px;
    padding: 10px;
    border: white solid 1px;
    background: rgb(166, 233, 233);
    border-radius: 10px;
    margin: 5px;
}
#buttons{
    font-size: 1em;
    padding: 15px;
    border: white solid 1px;
    background: rgb(48, 111, 226);
    color: white;
    border-radius: 20px;
    margin: 5px;
}
#dnames{
    color: red;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* dashboad css */
.parent{
    border: 3px solid rgb(32, 29, 29);
   
   justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
}

#text{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    
}
#button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.text_head{
    font-size: 35px;
}


